/.idea/
/.vs/
/.idea/
/obj/
/Temp/
/Library/
/Logs/
/Builds/
/*.sln
/*.csproj

# Ignore assistant files since developer does not want them to be public at this point
/Assets/Resources/Resources.resx*
/Assets/Scripts/Assistant/*
/Assets/Scripts/Assistant.meta