/.idea/
/.vs/
/.idea/
/obj/
/Temp/
/Library/
/Logs/
/Builds/
/*.sln
/*.csproj
/UserSettings/
*.DS_Store

# Ignore assistant files since developer does not want them to be public at this point
/Assets/Scripts/Assistant/*
/Assets/Scripts/Assistant.meta